<div class="section" id="skills">
    <div class="container">
        <h3>Skillset</h3>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Web Technologies</td>
                    <td>Angular, node.js, JavaScript, jQuery, TypeScript, HTML5, CSS3</td>
                </tr>
                <tr>
                    <td>Frameworks</td>
                    <td>Angular, Mocha & Chai, Jasmine & karma</td>
                </tr>
                <tr>
                    <td>Databases</td>
                    <td>PostgreSQL, MySQL</td>
                </tr>
                <tr>
                    <td>Web Services</td>
                    <td>REST</td>
                </tr>
                <tr>
                    <td>Tools and Utilities</td>
                    <td>VS Code, Eclipse,Visual Studio 12, SVN, Git, GitLab, Source </td>
                </tr>
                <tr>
                    <td>Operating System </td>
                    <td>Windows</td>
                </tr>
                <tr>
                    <td>Domain Knowledge </td>
                    <td>Health Care, Project Management Control</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>