<div class="section" id="experience">
    <div class="container">
        <h3>Experience</h3>
        <div class="card-columns">
            <div class="card bg-light">
                <h4 class="card-title"></h4>
                <div class="card-body ">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item" style="border: none;">
                            <strong>Company Name</strong>: HCL Technologies
                        </li>
                        <li class="list-group-item" style="border: none;">
                            <strong>Position</strong>: Technical Lead
                        </li>
                        <li class="list-group-item" style="border: none">
                            <strong>Served from</strong>: Oct 2020
                        </li>
                        <li class="list-group-item" style="border: none">
                            <strong>Served Till</strong>: Jun 2022
                        </li>
                    </ul>
                </div>
            </div><br>
            <div class="card bg-light">
                <h4 class="card-title"></h4>
                <div class="card-body ">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item" style="border: none;">
                            <strong>Company Name</strong>: Object Frontier Software
                        </li>
                        <li class="list-group-item" style="border: none;">
                            <strong>Position</strong>: Senior Software Engineer
                        </li>
                        <li class="list-group-item" style="border: none">
                            <strong>Served from</strong>: Feb 2018
                        </li>
                        <li class="list-group-item" style="border: none">
                            <strong>Served Till</strong>: Oct 2020
                        </li>
                    </ul>
                </div>
            </div><br>
            <div class="card bg-light">
                <h4 class="card-title"></h4>
                <div class="card-body ">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item" style="border: none;">
                            <strong>Company Name</strong>: Visinture Strategic Solutions
                        </li>
                        <li class="list-group-item" style="border: none;">
                            <strong>Position</strong>: Software Engineer
                        </li>
                        <li class="list-group-item" style="border: none">
                            <strong>Served from</strong>: Oct 2014
                        </li>
                        <li class="list-group-item" style="border: none">
                            <strong>Served Till</strong>: Feb 2018
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>