<div class="section" id="about">
    <div class="container">
        <div class="card-columns">
            <div class="card bg-primary">
                <div class="card-body text-center">
                    
                    <div class="card-text">
                        <img class="card-img-top" src="assets/vigneshdp.jpg" alt="Card image" style="width:15%; border-radius: 100%;">
                    </div>
                    <h4 class="card-title">Fullstack developer</h4>
                </div>
            </div>
            <div class="card bg-light" style="height: 300px;" >
                <div class="card-body text-center">
                    <h4 class="card-title">Overview</h4>
                    <div class="card-text">
                        <ul class="list-unstyled">
                            <li>Software Engineer with 8 years of experience in Application Development.</li>
                            <li>Experience in developing quality applications using front-end technologies.</li>
                            <li>Experience in developing REST Service API</li>
                            <li>Exposure in different phase of software life cycle including use case analysis, design, 
                                development and support</li>
                        </ul>
                        <ul class="list-unstyled">
                            <li class="nav-item">
                                <a class="btn btn-primary" target="_blank" href="https://drive.google.com/file/d/18vwTZpATLEk6oFj5ZfQURIGIZwDi_2EP/view?usp=sharing">Download My Profile</a>
                              </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
