<div class="section" id="education">
    <div class="container">
        <h3>Education</h3>
        <div class="card-columns">
            <div class="card bg-light">
                <div class="card-body ">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item" style="border: none;">
                            <strong>Qualification</strong>: B.E Computer Science And Engineering
                        </li>
                        <li class="list-group-item" style="border: none;">
                            <strong>Institution</strong>: Akshaya College Of Engineering And Technology
                        </li>
                        <li class="list-group-item" style="border: none;">
                            <strong>Board/University</strong>: Anna University
                        </li>
                        <li class="list-group-item" style="border: none;">
                            <strong>Percentage of Marks/CGPA</strong>: 7.18
                        </li>
                        <li class="list-group-item" style="border: none">
                            <strong>Year Of Study</strong>: 2010-2014
                        </li>
                    </ul>
                </div>
            </div><br>
            <div class="card bg-light">
                <div class="card-body ">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item" style="border: none;">
                            <strong>Qualification</strong>: B.E Computer Science And Engineering
                        </li>
                        <li class="list-group-item" style="border: none;">
                            <strong>Institution</strong>: Rajalakshmi Gengusamy Matriculation Higher Secondary School
                        </li>
                        <li class="list-group-item" style="border: none;">
                            <strong>Board/University</strong>: State Board
                        </li>
                        <li class="list-group-item" style="border: none;">
                            <strong>Percentage of Marks/CGPA</strong>: 81
                        </li>
                        <li class="list-group-item" style="border: none">
                            <strong>Year Of Study</strong>: 2009 - 2010
                        </li>
                    </ul>
                </div>
            </div><br>
            <div class="card bg-light">
                <div class="card-body ">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item" style="border: none;">
                            <strong>Qualification</strong>: Secondary School
                        </li>
                        <li class="list-group-item" style="border: none;">
                            <strong>Institution</strong>: Rajalakshmi Gengusamy Matriculation Higher Secondary School
                        </li>
                        <li class="list-group-item" style="border: none;">
                            <strong>Board/University</strong>: Matriculation
                        </li>
                        <li class="list-group-item" style="border: none;">
                            <strong>Percentage of Marks/CGPA</strong>: 78
                        </li>
                        <li class="list-group-item" style="border: none">
                            <strong>Year Of Study</strong>: 2007 - 2008
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>